
body{
  background-image: url("./images/cloudit.jpg");
  background-size: 100% auto;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #cccccc; */
  /* Note: Tee tauskakuva vaihtuvaksi sään mukaan */
}

.Paper{
  padding: "100px"; height: 100; bgcolor:"black.main"; border:1.5; borderColor: "#9e9e9e";
}

.fullHeight {
  height: 100vh; /* 100% näytön korkeudesta */
}