
body{
  background-image: url("./images/cloudit.jpg");
  background-size: 100% auto;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #cccccc; */
  /* Note: Tee tauskakuva vaihtuvaksi sään mukaan */
}